* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0e17;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tombol {
    background: #ff8906;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.45em;
    padding-left: 1em;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0.9em;
    border: none;
    cursor: pointer;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #995506;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
}

.ikon {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #985201;
    right: 0.3em;
    transition: all 0.3s;
}

.tombol:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #995506;
}

.tombol:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #995506;
}